* {
    border: none;
    border-radius: 0;
    font-family: FiraMono Nerd Font;
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0.9);
    /* border-bottom: 1px solid #282828; */
    color: #f6f7fc;
}

tooltip {
    background: #1e1e2e;
    opacity: 0.8;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label{
    color: #cdd6f4;
}

#workspaces button {
    padding: 5 5px;
    color: #f6f7fc;
    margin-right: 5px;
}

#workspaces button.active {
    color: #000000;
    background: #7d4045;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#custom-notification,
#custom-launch_wofi,
#custom-launch_firefox,
#custom-launch_thunar,
#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#idle_inhibitor,


#button {
    background: rgba(21, 18, 27, 0);
    opacity: 1;
    padding: 3px 5px;
    margin: 0px 4px;
    border: 0px;
}

#workspaces {
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

#clock {
    color: #F6F7FC;
    background-color: #7d4045;
    border-radius: 0px 0px 0px 24px;
    padding-left: 13px;
    padding-right: 15px;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    /*border-left: solid 1px #282738;*/
}
